{% extends 'miam/miam_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log Out{% endblock %}
{% block content %}
<section class="container d-flex justify-content-center align-items-center" style="height: 90vh">
    <div class="p-5 bg-white" style="width: 25rem;">
        <h1>Log Out</h1>
        <p>Are you sure you want to log out?</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-danger" type="submit">Log Out</button>
        </form>
    </div>
</section>
{% endblock content %}