{% extends 'miam/miam_base.html' %}


{% block title %} Seller {% endblock title %}

{% block content %}

<section class="container my-5 d-flex justify-content-center align-items-center" style="min-height: 90vh">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Location</th>
                <th>Category</th>
                <th>Available till</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for ad in ads %}
            <tr>
                <td><a href="{% url 'detailad' ad.pk %}">{{ad.title}}</a></td>
                <td>{{ ad.price }}</td>
                <td>{{ ad.location }}</td>
                <td>{{ ad.category }}</td>
                <td>{{ ad.available_till }}</td>
                <td class="text-center"><a class="btn btn-primary" href="{% url 'updatead' ad.pk %}">Update</a></td>
                <td class="text-center"><a class="btn btn-danger" href="{% url 'deletead' ad.pk %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</section>

{% endblock content %}