{% extends 'base.html' %}

{% block content %}
<section class="landing-bg w-100 d-flex justify-content-center align-items-center" style="height: 90vh">
    <div class="text-light w-50 p-4 rounded-lg" style="background-color: rgba(0, 0, 0, 0.75);">
        <h1 class="display-4 text-center"><strong>Welcome to Meals in a Minute</strong></h1>
        <h3 class="text-center">We Promise to deliver fresh homemade food <span
                class="text-danger font-weight-bold">WHENEVER</span> and <span
                class="text-danger font-weight-bold">WHEREVER</span> you want!</h3>
        <div class="w-100 mt-5 d-flex justify-content-center align-items-center">
            <a class="btn btn-danger px-4 py-3 mr-2" href="{% url 'account_login' %}">
                <h4 class="m-0"><strong>LOG IN</i></strong></h4>
            </a>
            <a class="btn btn-danger px-4 py-3" href="{% url 'account_signup' %}">
                <h4 class="m-0"><strong>SIGN UP <i class="fa fa-arrow-circle-right"></i></strong></h4>
            </a>
        </div>
    </div>
</section>
{% endblock content %}